.user-login {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    text-align: center;
    border: #ffffff solid 3px;
}

.login-container label {
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffffff;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.btn-google {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #222831;
    font-weight: bold;
}

.btn-google img {
    width: 30px;
    margin-right: 10px;
}

.btn-google:hover {
    background-color: #e7e7e7;
    color: #222831;
}