.rbt-input-main {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

.rbt-input-main:focus {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

.rbt-input-main::placeholder {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

.rbt {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;

}


.dropdown-item {
    color: white;
    margin: 10px;
}

.rbt-input-hint {
    color: #12bee6 !important;
}