.avatar-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.header {
    padding: 10px 20px;
}

.dropdown-menu {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #12bee6;
    color: black;
}