.settings-modal {
    background-color: #222831;
    border: white 1px solid;
    color: #ffffff;
}

.settings-dialog-modal {
    max-width: 50%
}

.settings-inputs-modal {
    display: flex;
    justify-content: space-between;
    margin-right: 50%;
    align-content: center;
    margin-left: 1rem
}

.settings-inputs-modal button {
    height: 50%;
}

.settings-inputs-modal input {
    background-color: transparent;
    padding: 0.5rem;
    margin-left: 10%;
    color: white;
}

.settings-modal-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    font-size: 18px;
}

.form-switch {
    padding-left: 0.5rem;
}

.delete-modal {
    border: 2px solid red;
    background-color: #222831;
    color: #ffffff;
    width: 50%;
    margin-left: 25%;
    display: flex;
    align-content: center;
}

.delete-modal-header {
    background-color: #222831;
    font-weight: bold;
    color: white;
}

.delete-modal-header button {
    color: white;
}

.form-check-input:checked {
    background-color: #12bee6;
}

.form-check-input {
    font-size: 20px
}

.form-check-label {
    font-size: 18px;
    margin-top: 5px;
    padding-left: 0;
}
