.header{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-login{
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  border: #ff914d solid 1px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  left: 10px;
  font-size: 14px;
  color: #12bee6;
  background: white;
}

.login-container label {
  font-weight: bold;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff914d;
  border-radius: 0;
  font-size: 16px;
}